/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
/******** MEDIA QUERIES ********/
/******** VARIABLES ********/
.share-buttons {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.share-buttons a {
  width: 25%;
}
.share-buttons img {
  width: 100%;
}
/****BOX-SHADOW****/
.inner-shadow {
  -webkit-box-shadow: 0 0 15px 0px #c8c8c8 -20% inset;
  -moz-box-shadow: 0 0 15px 0px #b4b4b4 inset;
  box-shadow: 0 0 15px 0px #b4b4b4 inset;
}
.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/****TEXT-SHADOW****/
.text-shadow {
  text-shadow: 1px 0px 17px #fff, 1px 0px 17px #fff, 1px 0px 17px #fff;
}
/******** MIXINS ********/
/**PROPORTIONAL FONTSIZE & LINE-HEIGHT**/
/*@media (min-width: 200px) and (max-width: 800px) {
  body {
    font-size: calc( 4pt + 2 * ( ( 100vw - 200px) / 600 )) !important;
    line-height: calc( 5.5pt + 2.75 * ( ( 100vw - 200px) / 600 )) !important;
  }
}*/
@media (max-width: 767px) {
  body {
    font-size: 12px !important;
  }
}
@media (min-width: 767px) and (max-width: 1920px) {
  body {
    font-size: calc(12px + 5 * ( (100vw - 767px) / (1920 - 767) )) !important;
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 17px !important;
  }
}
/******** COLUMN SYSTEM ********/
.col-1 {
  width: calc(((100% - 11 * 0px) / 12));
}
.col-2 {
  width: calc(((100% - 11 * 0px) / 12) * 2 + (1 * 0px));
}
.col-3 {
  width: calc(((100% - 11 * 0px) / 12) * 3 + (2 * 0px));
}
.col-4 {
  width: calc(((100% - 11 * 0px) / 12) * 4 + (3 * 0px));
}
.col-5 {
  width: calc(((100% - 11 * 0px) / 12) * 5 + (4 * 0px));
}
.col-6 {
  width: calc(((100% - 11 * 0px) / 12) * 6 + (5 * 0px));
}
.col-7 {
  width: calc(((100% - 11 * 0px) / 12) * 7 + (6 * 0px));
}
.col-8 {
  width: calc(((100% - 11 * 0px) / 12) * 8 + (7 * 0px));
}
.col-9 {
  width: calc(((100% - 11 * 0px) / 12) * 9 + (8 * 0px));
}
.col-10 {
  width: calc(((100% - 11 * 0px) / 12) * 10 + (9 * 0px));
}
.col-11 {
  width: calc(((100% - 11 * 0px) / 12) * 11 + (10 * 0px));
}
.col-12 {
  width: calc(((100% - 11 * 0px) / 12) * 12 + (11 * 0px));
}
*[class^="col-"] {
  float: left;
}
*[class^="col-"]:nth-child(n+2) {
  margin-left: 0px;
}
@font-face {
  font-family: 'ammshrift';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/AMM_SHRIFT.woff2') format('woff2'), url('fonts/AMM_SHRIFT.woff') format('woff');
}
@font-face {
  font-family: 'antiqueolive';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/antiqueolive-bol-webfont.woff2') format('woff2'), url('fonts/antiqueolive-bol-webfont.woff') format('woff');
}
@font-face {
  font-family: 'antiqueolive';
  font-weight: normal;
  font-style: italic;
  src: url('fonts/antiqueolive-ita-webfont.woff2') format('woff2'), url('fonts/antiqueolive-ita-webfont.woff') format('woff');
}
@font-face {
  font-family: 'antiqueolive';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/antiqueolive-reg-webfont.woff2') format('woff2'), url('fonts/antiqueolive-reg-webfont.woff') format('woff');
}
.front-content {
  width: calc(100vw - 150px);
  height: calc(100vh - 75px);
  position: fixed;
  top: 75px;
  left: 150px;
  overflow-y: auto;
}
.front-content.ytp-title-text {
  color: blue;
}
@media only screen and (max-width: 767px) {
  .front-content {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    left: 0px;
    top: auto;
    overflow: hidden;
  }
}
.front-content .front-line {
  display: flex;
  width: 100%;
  height: calc((100vw - 150px) / 3 * 1.2);
}
@media only screen and (max-width: 767px) {
  .front-content .front-line {
    display: block;
    height: auto;
  }
}
.front-content .front-line .front-cell-small {
  width: calc(100% / 3);
}
.front-content .front-line .front-cell-big {
  width: calc(100% / 3 * 2);
}
.front-content .front-line .front-cell-small,
.front-content .front-line .front-cell-big {
  -webkit-box-shadow: 0 0 15px 0px #c8c8c8 -20% inset;
  -moz-box-shadow: 0 0 15px 0px #b4b4b4 inset;
  box-shadow: 0 0 15px 0px #b4b4b4 inset;
  overflow-y: hidden;
  box-sizing: border-box;
  border: 1px solid #000;
  border-left: 0px;
  border-bottom: 0px;
}
@media only screen and (max-width: 767px) {
  .front-content .front-line .front-cell-small,
  .front-content .front-line .front-cell-big {
    width: 100%;
    height: 100%;
    border-left: 1px solid #000;
  }
}
.front-content .front-line .front-cell-small .title,
.front-content .front-line .front-cell-big .title {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
}
.front-content .front-line .front-cell-small .title h1,
.front-content .front-line .front-cell-big .title h1 {
  font-size: 70px;
}
.front-content .front-line .front-cell-small .title .date,
.front-content .front-line .front-cell-big .title .date {
  justify-content: center;
}
.front-content .front-line .front-cell-small .link-wrapper a,
.front-content .front-line .front-cell-big .link-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.front-content .front-line .video-cell iframe {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front-content .logo-wrapper {
  -webkit-box-shadow: 0 0 15px 0px #c8c8c8 -20% inset;
  -moz-box-shadow: 0 0 15px 0px #b4b4b4 inset;
  box-shadow: 0 0 15px 0px #b4b4b4 inset;
  height: initial;
  padding: 30px 10px;
  border: 1px solid #000;
  border-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.front-content .logo-wrapper img {
  max-width: 100px;
  max-height: 65px;
  margin: 10px;
}
/**BACKGROUND IMAGE SYSTEM**/
.front-content article {
  position: relative;
  height: calc((100vw - 150px) / 3 * 1.2);
  background: center no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
}
@media only screen and (max-width: 767px) {
  .front-content article {
    height: 100vw;
  }
}
.front-content article.cell-1 {
  background-image: url("../medias/front/sauver_le_monde/avion.jpg");
}
.front-content article.cell-2 {
  background-image: url("../medias/front/multi-ordinary/Multi-ordinary.jpg");
}
.front-content article.cell-3 {
  background-image: url("../medias/front/a_vivre_au_musee/avivreaumusee-1.jpg");
}
@media only screen and (max-width: 767px) {
  .front-content article.cell-1 {
    background-image: url("../medias/front/sauver_le_monde/avion-769.jpg");
  }
  .front-content article.cell-2 {
    background-image: url("../medias/front/multi-ordinary/Multi-ordinary.jpg");
  }
  .front-content article.cell-3 {
    background-image: url("../medias/front/a_vivre_au_musee/avivreaumusee-1-769.jpg");
  }
}
/**VIDEO STUFF**/
.front-content .cell-4 {
  height: 100%;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/**BACKGROUND IMAGE SYSTEM**/
.info-content .background-img {
  padding: 0px !important;
  margin: 0px !important;
}
.info-content article.info-img {
  margin: 0px !important;
  height: 100%;
  background: left no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  background-image: url("../medias/infos/tour-de-brol.jpg");
}
@media only screen and (max-width: 767px) {
  .info-content article.info-img {
    display: none;
  }
}
body {
  font-family: 'antiqueolive';
  font-weight: normal;
  font-style: initial;
  font-size: 18px;
  line-height: 130%;
  color: #000;
  height: 100%;
  width: 100%;
}
a {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid;
}
ul li:before {
  content: '•';
  margin-right: 5px;
  color: blue;
}
header {
  position: fixed;
  z-index: 1;
  width: calc(100vw - 150px);
  height: 75px;
  top: 0px;
  left: 150px;
  font-size: 12px;
}
@media only screen and (max-width: 767px) {
  header {
    position: relative;
    left: 0px;
    width: 100%;
    height: auto;
  }
}
header .lang-switch {
  position: absolute;
  top: 17px;
  right: 10px;
  bottom: initial, initial;
  left: initial;
  z-index: 1;
  width: auto;
  color: #14ff97;
  background-color: #000000;
  padding: 0px 5px;
}
header .lang-switch a {
  color: #14ff97;
  border: none;
}
header .lang-switch .active a {
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  header .lang-switch {
    position: absolute;
    top: 0;
    right: 0;
  }
}
header address {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 25%, #14ff97 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 25%, #14ff97 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 25%, #14ff97 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorA', endColorstr='@colorB', GradientType=0);
  /* IE6-9 */
  -webkit-box-shadow: 0 0 15px 0px #c8c8c8 -20% inset;
  -moz-box-shadow: 0 0 15px 0px #b4b4b4 inset;
  box-shadow: 0 0 15px 0px #b4b4b4 inset;
  height: calc(100% - 25px + 15px);
  margin-top: -15px;
  padding-top: 25px;
  padding-left: 10px;
  display: flex;
}
header address a {
  color: #000;
  text-decoration: none;
  border-bottom: 0px;
}
header address a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 0px;
}
@media only screen and (max-width: 767px) {
  header address {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
    height: auto;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
  }
}
header address .street,
header address .phone,
header address .web {
  width: calc(((100% - 11 * 0px) / 12) * 4 + (3 * 0px));
}
@media only screen and (max-width: 767px) {
  header address .street,
  header address .phone,
  header address .web {
    width: calc(((100% - 11 * 0px) / 12) * 12 + (11 * 0px));
    font-size: 10px;
    margin-top: 10px;
  }
}
header .mobile-header-elements {
  display: none;
  position: absolute;
  width: 100px;
  margin-left: calc(50vw - (100px/2));
  top: 0;
  text-align: center;
}
header .mobile-header-elements a {
  border: none;
}
header .mobile-header-elements p {
  display: none;
}
header .mobile-header-elements img {
  height: 107px;
}
header .mobile-header-elements .share {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -44px;
  right: -85px;
}
header .mobile-header-elements .share a {
  width: 25%;
}
header .mobile-header-elements .share img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  header .mobile-header-elements {
    display: block;
  }
}
header .navigation {
  position: absolute;
  top: initial;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  -webkit-box-shadow: 0 0 15px 0px #c8c8c8 -20% inset;
  -moz-box-shadow: 0 0 15px 0px #b4b4b4 inset;
  box-shadow: 0 0 15px 0px #b4b4b4 inset;
  background-color: #fff;
  font-size: 90%;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  header .navigation {
    height: 21px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header .navigation span:nth-child(n+2)::before {
    content: "";
    display: none !important;
  }
}
header .navigation span:nth-child(n+2)::before {
  content: "|";
  color: #000;
  width: 60px;
  text-align: center;
  display: inline-block;
}
header .navigation a {
  border-bottom: 5px solid transparent;
  color: blue;
  font-weight: 200;
  text-shadow: 0px 0px 2px #fff,
                         0px 0px 2px #fff,
                         0px 0px 2px #fff;
}
header .navigation a:hover {
  border-bottom: 5px solid blue;
  cursor: pointer;
}
header .navigation .active a {
  border-bottom: 5px solid blue;
  font-weight: bold;
}
.left-panel {
  background: #c8c8c8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c8c8c8 0%, #ffffff 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c8c8c8 0%, #ffffff 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c8c8c8 0%, #ffffff 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorA', endColorstr='@colorB', GradientType=0);
  /* IE6-9 */
  border-right: 1px solid #000;
  padding: 10px;
  position: fixed;
  width: 150px;
  height: 100vh;
  top: 0px;
  left: 0px;
}
@media only screen and (max-width: 767px) {
  .left-panel {
    display: none;
  }
}
.left-panel .logo {
  width: 75%;
  margin: auto;
}
.left-panel .logo img {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.left-panel p {
  color: blue;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -10px;
  font-size: 12px;
}
.left-panel .share {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-panel .share a {
  width: 25%;
}
.left-panel .share img {
  width: 100%;
}
.left-panel a {
  border: none;
}
.content {
  width: calc(100vw - 150px);
  height: calc(100vh - 75px);
  position: fixed;
  top: 75px;
  left: 150px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .content {
    position: relative;
    display: block;
    width: 100%;
    left: 0px;
    top: auto;
  }
}
.content section .label {
  display: inline-block;
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #000;
  margin-left: -11px;
  margin-top: 20px;
  padding: 0 10px;
}
.content section .label:first-child {
  margin-top: 0;
}
.content section article {
  margin-top: 1em;
}
.content section.c8 {
  width: calc(((100% - 11 * 0px) / 12) * 8 + (7 * 0px));
}
.content section.c8 .article .title .date {
  text-indent: 0;
}
.content section.c8 .article .title .date section {
  display: inline;
}
.content section.c8 .article .title .pict img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .content section.c8 {
    width: calc(((100% - 11 * 0px) / 12) * 12 + (11 * 0px));
  }
}
.content section.c4 {
  width: calc(((100% - 11 * 0px) / 12) * 4 + (3 * 0px));
}
.content section.c4 .article .title .pict img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .content section.c4 {
    width: calc(((100% - 11 * 0px) / 12) * 12 + (11 * 0px));
  }
}
.content section.c4,
.content section.c8 {
  -webkit-box-shadow: 0 0 15px 0px #c8c8c8 -20% inset;
  -moz-box-shadow: 0 0 15px 0px #b4b4b4 inset;
  box-shadow: 0 0 15px 0px #b4b4b4 inset;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  border-left: 0px;
  padding: 10px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .content section.c4,
  .content section.c8 {
    height: auto;
    border-left: 1px solid #000;
  }
}
article .title {
  text-shadow: 1px 0px 17px #fff, 1px 0px 17px #fff, 1px 0px 17px #fff;
  color: blue;
}
article h1 {
  font-family: 'ammshrift';
  font-size: 30px;
  margin-top: 20px;
  line-height: 100%;
  color: blue;
  word-wrap: break-word;
}
article h2 {
  text-decoration: underline;
  font-weight: bold;
  display: block;
  float: none;
  clear: both;
  margin-top: 10px 0;
}
article .body {
  margin-top: 5px;
}
article .image-wrapper img {
  max-width: 100%;
  max-height: 75vh;
  width: auto;
}
article .date {
  font-size: 30px;
  text-shadow: none;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  line-height: 100%;
}
article .date .end:before {
  content: "\00a0" '-';
}
article .note {
  font-weight: bold;
}
article p {
  font-weight: 200;
}
article .newsletter-wrapper {
  text-indent: 0px;
  margin-top: 10px;
  height: 75px;
  width: 75%;
  margin-left: 12.5%;
}
.c4 h1 {
  font-size: 35px;
}
.c4 .date {
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}
.c8 h1 {
  font-size: 55px;
}
.activ h1 {
  font-size: 35px;
}
.activ .date {
  margin-top: 0;
}
