
body {
    .font(@line-height: 130%;);
    height: 100%;
    width: 100%;
}

a {
    color: @blue;
    text-decoration: none;
    border-bottom: 1px solid;
    &:hover{
    }
}

ul li&:before {
    content: '•';
    margin-right: 5px;
    color: blue;
}

header {
    position: fixed;
    z-index: 1;
    width: calc(~"100vw - @{leftpanelW}");
    height: @HeaderH;
    top: 0px;
    left: @leftpanelW;
    font-size: 12px;

    @media @xs {
        position: relative;
        left: 0px;
        width: 100%;
        height: auto;
    }

    .lang-switch {
        .absolute(@padding; 0; initial, initial);
        width: auto;
        color: @green;
        background-color: #000000;
        padding: 0px @padding / 2;

        a {
            color: @green;
            border: none;
        }

        .active a {
            color: #ffffff;
        }

        @media @xs {
            .absolute(0; 0; initial, initial);
        }
    }

    address {
        .vertical-gradient(#ffffff; 25%; @green; 100%);
        .inner-shadow;
        height: calc(~"100% - @{navH} + 15px"); //15px are used to hide the top shadow
        margin-top: -15px;
        padding-top: @padding + 12px;
        padding-left: @padding;
        display: flex;

        a {
            color: #000;
            text-decoration: none;
            border-bottom: 0px;

            &:hover {
                color: #000;
                text-decoration: none;
                border-bottom: 0px;
            }
        }

        @media @xs {
            .no-shadow;
            display: block;
            height: auto;
            margin-top: 0px;
            padding-bottom: @padding;
            padding-top: 0px;
        }

        .street, .phone, .web {
            .col-4;

            @media @xs {
                .col-12;
                font-size: 10px;
                margin-top : @padding;
            }
        }
    }

    .mobile-header-elements {
        display: none; //HIDDEN BY DEFAULT
        .absolute(0; initial; initial; calc(~"50vw - (100px/2)"));
        width: 100px;
        text-align: center;

        a {border: none;}
        p {display: none;}
        img {height: 107px;}

        .share {
            .share-buttons;
            .absolute(initial; -85px; -44px; initial);
        }

        @media @xs {display: block;} //WE SHOW IT ON MOBILE

    }

    .navigation {
        .absolute(initial; 0px; 0px; 0px; 2);
        .inner-shadow;
        background-color: #fff;
        font-size: 90%;
        height: @navH;
        text-align: center;
        text-transform: uppercase;
        border-top: @border;
        display: flex;
        justify-content: center;
        align-items: center;


        @media @xs {
            height: 21px;
            position: relative;
            display: flex;
            justify-content: space-around;;
            align-items: center;

            span:nth-child(n+2)::before {
                content: "";
                display: none !important;
            }
        }

        span:nth-child(n+2)::before {
            content: "|";
            color: #000;
            width: 60px;
            text-align: center;
            display: inline-block;
        }

        a {
            border-bottom: 5px solid transparent;
            color: @blue;
            font-weight: 200;
            text-shadow: 0px 0px 2px #fff,
                         0px 0px 2px #fff,
                         0px 0px 2px #fff;
            &:hover {
                border-bottom: 5px solid @blue;
                cursor: pointer;
            }
        }

        .active a {
            border-bottom: 5px solid @blue;
            font-weight: bold;
        }
    }
}

.left-panel {
    .vertical-gradient(@grey; 0%; #ffffff; 50%);
    border-right: @border;
    padding: @padding;
    position: fixed;
    width: @leftpanelW;
    height: 100vh;
    top: 0px;
    left: 0px;

    @media @xs {display: none;}

    .logo {
        width: 75%;
        margin: auto;
        img {
            width: 100%;
            text-align: center;
            margin-bottom: 2 * @padding;
        }
    }

    p {
        color: blue;
        text-align: center;
        margin-bottom: 10px;
        margin-top: -10px;
        font-size: 12px;
    }

    .share {
        .share-buttons;
    }

    a {border: none;}
}

.content {
    width: calc(~"100vw - @{leftpanelW}");
    height: calc(~"100vh - @{HeaderH}");
    position: fixed;
    top: @HeaderH;
    left: @leftpanelW;
    display: flex;

    @media @xs {
        position: relative;
        display: block;
        width: 100%;
        left: 0px;
        top: auto;
    }

    section{

        .label {
            display: inline-block;
            background-color: red;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            border: @border;
            margin-left: -@padding - 1px;
            margin-top: @padding * 2;
            padding: 0 @padding;

            &:first-child {
                margin-top: 0;
            }
        }

        article {
            margin-top: 1em;
        }

        &.c8 {
            .col-8;
            .article {
                .title {
                    .date {
                        text-indent: 0;
                        section {
                            display: inline;
                        }
                    }
                    .pict {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            // @media @s {.col-6;}
            @media @xs {.col-12;}
        }

        &.c4 {
            .col-4;
            .article {
                .title {
                    .pict {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            // @media @s {.col-6;}
            @media @xs {.col-12;}
        }

        &.c4, &.c8 {
            .inner-shadow;
            overflow-y: auto;
            height: 100%;
            box-sizing: border-box;
            border: @border;
            border-left: 0px;
            padding: @padding;
            padding-bottom: 2 * @padding;

            @media @xs {
                height: auto;
                border-left: @border;
            }
        }
    }


}

article {
    .title {
        // .text-shadow;
        color: @blue;
    }

    h1 {
        font-family: 'ammshrift';
        font-size: 30px;
        margin-top: @padding * 2;
        line-height: 100%;
        color: @blue;
        word-wrap: break-word;
    }

    h2 {
        text-decoration: underline;
        font-weight: bold;
        display: block;
        float: none;
        clear: both;
        margin-top: @padding 0;
    }

    .body {
        margin-top: @padding / 2;
    }

    .image-wrapper {
        img {
        max-width: 100%;
        max-height: 75vh;
        width: auto;
        }
    }

    .date {
        font-size: 25px;
        text-shadow: none;
        display: flex;
        justify-content: flex-start;
        // margin-top: @padding * 2;
        line-height: 100%;

        .end:before {
            content: "\00a0"'-'; // space + dash
        }
    }

    .caption {
        font-size: 8px;
        display: block;
        margin-top: -5px;
    }

    .note {
        font-weight: bold;
    }

    .newsletter-wrapper {
        text-indent: 0px;
        margin-top: @padding;
        height: 75px;
        width: 75%;
        margin-left: 12.5%;
    }
}

//OVERRIDES

.c4 {
    h1 { font-size: @small-title;}
    .date {
        font-size: 100%;
        margin-top: 0;
        margin-bottom: @padding;
    }
}

.c8 {
    h1 { font-size: 55px}
}

.activ {
    h1 {font-size: @small-title;}
    .date {
        font-size: 100%;
        margin-top: 0;
        margin-bottom: @padding / 2;
    }
}
