body {
    .font(@line-height: 110%);
    .scroll-mixin(@pink);
}

* {
    .scroll-mixin();
    box-sizing: border-box;
}

h1 {
    .big-title();
    .hyphens();
}

h2 {
    .big-title();
    .hyphens();
}

a {
    color: #000;
    text-decoration: underline;
    cursor: pointer !important;
}

ul li {
    padding-top: 3px;
}