
body {
    .font(@line-height: 122%;);
    height: 100%;

}

p {
    padding-top: @margin / 2;
}


header {
    background-color: yellow;
    position: fixed;
    width: calc(~"100vw - @{leftpanelW}");
    height: 100px;
    top: 0px;
    left: 100px;
    border-bottom: 1px solid #000;


    .lang-switch {
        width: auto;
        position: absolute;
        right: 0px;
    }

    address {

    }

    .navigation {
        .absolute(initial 0px 0px 0px); //BUG TO BE FIXED
        height: 20px;
        float: none;
        clear: both;
        text-align: center;
        text-transform: uppercase;
        border-top: 1px solid #000;

        span {
            border-bottom: 5px solid transparent;
            color: @blue;
            &:hover {
                border-bottom: 5px solid @blue;
                cursor: pointer;
            }

            &:nth-child(n+2)::before {
                content: "|";
                color: #000;
                width: 60px;
                text-align: center;
                display: inline-block;
            }
        }
    }
}

.left-panel {
    position: fixed;
    background-color: grey;
    width: @leftpanelW;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.content {
    width: calc(~"100vw - @{leftpanelW}");
    height: calc(~"100vh - @{HeaderH}");
    position: fixed;
    top: 100px;
    left: 100px;

    //for the column system
    section[class^="col-"]{
        overflow-y: auto;
        height: 100%;
    }
}
