.history-item-year {
    color: @blue;
}

.collection-item {
    display: flex;
    margin-bottom: @padding;
    .image-wrapper {
        flex: 1;
        margin-right: @padding;
        }
    .artist-infos {
        flex: 3;
        color:@blue;

        & .name {
            font-size: 150%;
            font-weight: bold;
        }
    }
}
