
///** ANTIQUE OLIVE **//

@font-face {
    font-family: 'antiqueolive';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/antiqueolitot-lig.woff2') format('woff2'),
         url('fonts/antiqueolitot-lig.woff') format('woff');
}

