

body {
    .font(@line-height: 110%;);
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: @baseFontFamilly;
    font-size: @baseFontSize * 3.5;
    font-weight: normal;
    margin-top: @margin;
    margin-bottom: 0;
    line-height: 85%;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    .link-border-style;
    cursor: pointer !important;
    text-decoration: none;
}

ul li {
    padding-top: 3px;
}



.bold, strong {
    color: @blue;
}


// SCROLLBAR

@scroll-color : @green;

// will apply for browsers supporting scrollbar css specs (Firefox >= 64 as of now)
* {
    scrollbar-width: thin;
    scrollbar-color: @scroll-color white; 
}

// will apply for webkit based browsers 
 /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @scroll-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @scroll-color;
} 